<main role="main">
    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    <div class="container mt-4">
        <form asp-action="AddOrder" asp-controller="Cart" method="post">
            <input type="hidden" name="kh_tendangnhap" value="dnpcuong">
            <!-- Thêm input hidden để truyền tổng tiền -->
            <input type="hidden" name="TongTien" value="@ViewBag.TongTien" />

            <div class="py-5 text-center" style="margin-top:100px">
                <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                <h2>Thanh toán</h2>
                <p class="lead">Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.</p>
            </div>

            <div class="row">
                @*<div class="col-md-5 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Giỏ hàng</span>
                        $1$<span class="badge badge-secondary badge-pill">@ViewBag.CartItems.Count</span>#1#
                    </h4>
                    <ul class="list-group mb-3">
                        @foreach (var item in ViewBag.CartItems)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@item.Product.name</h6>
                                    <small class="text-muted">@Convert.ToDecimal(item.Product.price).ToString("#,##0") đồng x @item.Quantity</small>
                                </div>
                                <span class="text-muted">@Convert.ToDecimal(item.Product.price * item.Quantity).ToString("#,##0") đồng</span>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Tổng thành tiền</span>
                            <strong>@Convert.ToDecimal(ViewBag.TongTien).ToString("#,##0") đồng</strong>
                        </li>
                    </ul>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Mã khuyến mãi">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary">Xác nhận</button>
                        </div>
                    </div>
                </div>*@

                <div class="col-md-7 order-md-1">
                    <h4 class="mb-3">Thông tin khách hàng</h4>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="kh_ten">Họ tên</label>
                            <input type="text" class="form-control" name="kh_ten" id="kh_ten" value="@Context.Session.GetString("name")" required>
                        </div>
                        @*<div class="col-md-12 mb-3">
                            <label for="kh_gioitinh">Giới tính</label>
                            <select class="form-control" name="kh_gioitinh" id="kh_gioitinh" required>
                                <option value="">Chọn giới tính</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                                <option value="Khác">Khác</option>
                            </select>
                        </div>*@
                        <div class="col-md-12 mb-3">
                            <label for="DiaChiGiao">Địa chỉ</label>
                            <input type="text" class="form-control" name="DiaChiGiao" id="DiaChiGiao" value="@Context.Session.GetString("address")" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="SDT">Điện thoại</label>
                            <input type="text" class="form-control" name="SDT" id="SDT" value="@Context.Session.GetString("phone")" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" value="@Context.Session.GetString("email")" required>
                        </div>
                        @*<div class="col-md-12 mb-3">
                            <label for="kh_ngaysinh">Ngày sinh</label>
                            <input type="date" class="form-control" name="kh_ngaysinh" id="kh_ngaysinh">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="kh_cmnd">CMND</label>
                            <input type="text" class="form-control" name="kh_cmnd" id="kh_cmnd">
                        </div>*@
                        <div class="col-md-12 mb-3">
                            <label for="note">Ghi chú</label>
                            <textarea class="form-control" name="note" id="note" rows="3"></textarea>
                        </div>
                    </div>

                    <h4 class="mb-3">Hình thức thanh toán</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="httt-1" name="httt_ma" type="radio" class="custom-control-input" required value="1" checked>
                            <label class="custom-control-label" for="httt-1">Tiền mặt</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="httt-2" name="httt_ma" type="radio" class="custom-control-input" required value="2">
                            <label class="custom-control-label" for="httt-2">Chuyển khoản</label>
                        </div>
                        <!-- Thêm input ẩn để lưu giá trị LoaiGiaoDich -->
                        <input type="hidden" id="LoaiGiaoDich" name="LoaiGiaoDich" value="2">
                    </div>

                    @*<div class="mb-4 text-center">
                        <img id="paymentImage" src="https://img.vietqr.io/image/vietinbank-113366668888-compact.jpg" style="display: none; max-width: 100%;" alt="Payment Image">
                    </div>*@

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="btnDatHang">
                        Đặt hàng
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- End block content -->
</main>

<script>
    // Lấy tất cả các input radio có name là 'httt_ma'
    const paymentOptions = document.querySelectorAll('input[name="httt_ma"]');
    const paymentImage = document.getElementById('paymentImage');

    // Thêm sự kiện 'change' cho từng radio button
    paymentOptions.forEach(option => {
        option.addEventListener('change', function () {
            // Kiểm tra nếu giá trị là '2' thì hiển thị ảnh, ngược lại ẩn ảnh
            if (this.value === '2') {
                paymentImage.style.display = 'block';
            } else {
                paymentImage.style.display = 'none';
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Lấy tham chiếu đến các radio button và trường ẩn
        var radios = document.querySelectorAll('input[name="httt_ma"]');
        var loaiGiaoDichInput = document.getElementById('LoaiGiaoDich');

        // Thiết lập giá trị ban đầu dựa trên radio được chọn sẵn
        if (document.getElementById('httt-1').checked) {
            loaiGiaoDichInput.value = "2";
        } else if (document.getElementById('httt-2').checked) {
            loaiGiaoDichInput.value = "1";
        }

        // Thêm sự kiện lắng nghe cho mỗi radio button
        radios.forEach(function(radio) {
            radio.addEventListener('change', function() {
                if (this.id === 'httt-1') {
                    loaiGiaoDichInput.value = "2";
                } else if (this.id === 'httt-2') {
                    loaiGiaoDichInput.value = "1";
                }
            });
        });
    });
</script>
